html {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
}

#header {
    display: flex;
    justify-content: center;
    background-color: rebeccapurple;
    width: 100%;
    height: 50px;
    top: 0;
    border-bottom: 4px solid black;
}

#menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6px;
}

#menu-icon :hover {
    background-color: grey;
}

#project-logo {
    margin: auto;
}

#sidebar-content-container {
    display: flex;
    height: 100%;
}

#sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    left: 0pt;
    border: 2px solid black;
}

#content {
    display: flex;
    justify-content: center;
    border: 2px dotted blue;
    background-color: grey;
    width: 100%;
    overflow: scroll;

}

#task-form {

    display: none;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

#project-form {

    display: none;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

#project-container {
    display: flex;
    flex-direction: column;
}

#add-project-button {
    display: flex;
    height: 23px;
    width: 29px;
    margin-left: 4px;
}

#plus-symbol {
    height: 18px;
    width: 18px;
}

#project-button-container {
    display: flex;
    align-items: center;
}




#show-tasks-png {
    height: 16px;
    width: 16px;
}

.project-lists {
    display: flex;
    align-items: center;
}

.project-lists>* {
    border: 2px solid black;
}

.project-list-items {
    height: 20px;
}

.task-list-items {
    display: flex;
}

.task-list-items>* {
    border: 2px solid black;
}

.delete-task {
    height: 16px;
    width: 16px;
}

.form-inputs {
    display: flex;
    flex-direction: column;
}

#form-dates {
    display: flex;
    justify-content: space-around;
    margin: 23px;
}

#date-input {
    margin: 23px 0;
}

#footer {
    border: 2px dashed burlywood;
    width: 100%;
    height: 20px;
}