body {
    margin: 0;
}

#header {
    display: flex;
    justify-content: center;
    background-color: rebeccapurple;
    width: 100%;
    height: 50px;
    position: fixed;
}

#menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 6px;
}

#menu-icon :hover{
    background-color: grey;
}

#project-logo {
    margin: auto;
}